---
import Layout from "../layouts/BaseLayout.astro";
import InfluencerLayout from "../layouts/InfluencerLayout.astro";

import { getCollection, getEntry } from "astro:content";

const allInFluencers = await getCollection("influencer");
console.log({ allInFluencers });
---

<Layout title="Wisifie.com">
  <InfluencerLayout>
    <main>
      <div>List 2</div>
    </main>
  </InfluencerLayout>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #000;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
