---
import EachAccessories from "./EachAccessories.astro";
const { accessories } = Astro.props;
---

<div class="pt-12 flex w-full flex-col gap-4">
  {accessories?.map((acc) => <EachAccessories accessory={acc} />)}
</div>
