---
import EachAccessories from "./EachAccessories.astro";
const { accessories } = Astro.props;
---

<div class="py-12 flex w-full flex-col gap-6">
  {
    accessories?.map((acc, index) => (
      <EachAccessories accessory={acc} index={index} />
    ))
  }
</div>
