<div class="w-full h-[100dvh] flex flex-col">
  <div
    class="intro-container h-full w-full max-h-[535px] bg-intro bg-cover relative"
  >
    <div
      class="w-full text-orange-100 text-3xl font-normal font-['Quando'] absolute bottom-[21px] z-[20] pl-6 pr-12"
    >
      Steal from your favourite fashion trendsetters’ wardrobe
    </div>
    <div class="bottom-fade"></div>
  </div>
  <div
    class="bg-light-pink flex-1 text-darkest-pink px-6 flex flex-col justify-between py-3"
  >
    <div>
      <div class="font-extralight">Find what's trending.</div>
      <div class="pt-2 font-thin">
        Enjoy hassle free shopping of what your favourite influencers are
        wearing
      </div>
    </div>
    <div class="text-xs">#Fashon Trend setters #fashionistas</div>
  </div>
</div>
<style>
  .bottom-fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(117, 48, 50, 0) 0%, #753032 100%);
    z-index: 10;
    height: 50%;
  }
</style>
