---
import BgSpiralImage from "./BgSpiralImage.astro";
const { quote_url } = Astro.props;
---

<div class="pb-20 flex justify-center">
  <img
    src={quote_url}
    alt="quote"
    loading="lazy"
    decoding="async"
    class="md:w-auto w-[70%]"
  />
  <img
    src={`/assets/spiral-bg-4.svg`}
    alt="sprial"
    class="md:rotate-[-7.21deg] mix-blend-overlay absolute md:-mt-[25%] -mt-[55%] left-1/2 transform -translate-x-1/2"
  />
</div>
