---
import PersonLandingSection from "../components/PersonLandingSection.astro";
import AccessoriesSection from "../components/AccessoriesSection.astro";

const { influencer } = Astro.props;
---

<div class="bg-orange-100 flex flex-col">
  <PersonLandingSection {...influencer?.data} />
  <AccessoriesSection accessories={influencer?.data?.accessories} />
  <slot />
</div>
