---
import PersonLandingSection from "../components/PersonLandingSection.astro";
import AccessoriesSection from "../components/AccessoriesSection.astro";
import QuotesSection from "../components/QuotesSection.astro";

const { influencer } = Astro.props;
---

<div class="bg-orange-100 flex flex-col">
  <PersonLandingSection {...influencer?.data} />
  <AccessoriesSection accessories={influencer?.data?.accessories} />
  <QuotesSection quote_url={influencer?.data?.quote_url} />
  <slot />
</div>
