---
import PersonLandingSection from "../components/PersonLandingSection.astro";

const { influencer } = Astro.props;

console.log({ influencer });
---

<div class="bg-orange-100 flex flex-col">
  <PersonLandingSection
    description={influencer?.data?.description}
    {...influencer?.data}
  />
  <slot />
</div>
