---
import PersonLandingSection from "../components/PersonLandingSection.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-orange-100 flex flex-col">
      <PersonLandingSection />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --listing-gradient: linear-gradient(
      189deg,
      #a36261 -7.12%,
      rgba(163, 98, 97, 0) 40.81%
    );
  }
</style>
